<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
        {% if user.is_authenticated %}
        <h2>Your Name is : {{ user.username }}</h2>
        {% else %}
        <h2>You are Not LogIn.</h2>
        {% endif %}
        <div>hy welcome please signup</div>
    <h1>hy welcome this loging from</h1>
</body>
</html>
